<div class="post-line">

    {{ $dateFormat := "2 Jan 2006"}}
    {{ with .Site.Params.listDateFormat }}
    {{ $dateFormat = .}}
    {{ end }}

    <p class="line-date">{{ .Date.Format $dateFormat }} </p>

    <div>
        <p class="line-title">
            {{ if eq .Type "bookmarks" }}
                <a href="{{ index (index .Params.Properties "bookmark-of") 0 }}" target="_blank">
                    {{ index (index .Params.Properties "bookmark-of") 0 }}
                </a>
            {{ else }}
                <a href="{{ .RelPermalink }}">
                    {{ .Title }}
                </a>
            {{ end }}
        </p>

        {{ if .Site.Params.listSummaries }}
        <p class="line-summary"> {{ .Summary }} </p>
        {{ end }}
    </div>
</div>